/*Змінні*/
:root {
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --second-section-bgc: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding-top: 80px;
  margin: 0px;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

svg {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  padding: 0px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

button {
  padding: 0;
  border: none;
}

/*Основна сторінка*/

/*Хедер*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 80px;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__part--black {
  color: #000000;
}

.nav {
  display: flex;
  align-items: center;
  gap: 91px;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  display: flex;

  height: 80px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  height: 5px;
  width: 100%;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.contacts {
  gap: 30px;
  display: flex;
  margin-left: auto;
}

.contacts__item {
  color: var(--secondary-text-color);
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon--letter {
  width: 16px;
  height: 12px;
}

.contacts__icon--phone {
  width: 10px;
  height: 16px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

/*Герой*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1600px;
  min-height: 600px;

  margin: 0 auto;

  background-color: #2f303a;
  background-image: radial-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

.hero__title {
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 50px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus,
.button:active {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__button {
  min-width: 216px;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 91;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(10px);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__text {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.modal__close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;

  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover,
.modal__close:focus {
  fill: var(--accent-color);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  position: relative;
  width: 448px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + svg,
.form__input:hover + svg {
  fill: var(--accent-color);
}

.form__field svg {
  pointer-events: none;
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.form__input {
  display: block;

  width: 100%;
  min-height: 40px;
  padding: 12px 42px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}

.textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  opacity: 0.5;
}

.checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.checkbox__icon {
  width: 16px;
  height: 16px;
  border: 1.5px solid var(--primary-text-color);
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox__link {
  color: var(--accent-color);
}

/*Переваги*/

.section {
  padding: 94px 0px;
}

.section:nth-child(3) {
  padding: 0px 0px 94px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.section__list {
  display: flex;
  gap: 30px;
}

.benefits__icon {
  box-sizing: content-box;
  width: 70px;
  height: 70px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.benefits__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*Види діяльності*/

.activity__item {
  position: relative;
}

.activity__text {
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*Команда*/

.section--dark-bg {
  background-color: var(--second-section-bgc);
}

.team__item {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
}

.team__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 168px;
}

.team__name {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.team__text {
  margin-bottom: 16px;

  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.social {
  display: flex;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:hover .social__link {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* Клієнти */

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

/*Футер*/

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__part--white {
  display: inline-block;
  color: var(--primary-white-color);
}

.footer__main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address {
  font-style: normal;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--gray {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.footer__subscripe {
  width: 206px;
  height: 80px;

  margin-left: 70px;
}

.footer__text {
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social__link--gray-bg {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--gray-bg:hover,
.social__link--gray-bg:focus,
.social__link--gray-bg:active {
  background-color: var(--accent-color);
}

.footer__mail {
  margin-left: 93px;
}

.mail-form {
  display: flex;
  gap: 12px;
}

.mail-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  color: var(--primary-white-color);
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mail-form__input::placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.mail-form__input:hover,
.mail-form__input:focus {
  outline: var(--primary-white-color) solid 1px;
}

.button--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/*Сторінка портфоліо*/

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
}

.filter {
  display: flex;
  gap: 8px;
}

.filter__button {
  padding: 6px 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  color: #212121;
  background-color: var(--second-section-bgc);
  cursor: pointer;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 370px;
  background-color: var(--primary-white-color);
  cursor: pointer;
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.08);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__text {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__text,
.card__link:focus .card__text {
  transform: translateY(0);
}

.card__label {
  padding: 20px 24px;
  border-top: none;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card__type {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
