.form {
  @include flex(column, center, center);
}

.form__group {
  width: 100%;
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 4px;

  @include font-settings(12px, $secondaryTextColor, false, 1.17, 0.01em);
  @include transition;
}

.form__field {
  position: relative;

  @include transition(fill);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form__icon {
  pointer-events: none;
  position: absolute;
  left: 12px;
  bottom: 11px;

  @include transition(fill);

  .form__input:focus + &,
  .form__input:hover + & {
    fill: $accentColor;
  }
}

.form__input {
  display: block;

  width: 100%;
  min-height: 40px;
  padding: 12px 42px;

  font-family: 'Roboto', sans-serif;
  @include font-settings(12px, false, 400, 1.17, 0.01em);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  @include transition(border);

  &:hover,
  &:focus {
    border: 1px solid $accentColor;
  }
}

.textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;

  &::placeholder {
    @include font-settings(12px, $secondaryTextColor, false, 1.17, 0.01em);
    opacity: 0.5;
  }
}

.checkbox {
  @include flex(false, center, center, 7px);

  width: 100%;
  margin-bottom: 31px;

  @include font-settings(12px, $secondaryTextColor, false, 1.17, 0.03em);
}

.checkbox__icon {
  width: 16px;
  height: 15px;

  border: 1.5px solid $primaryTextColor;
  border-radius: 2px;

  @include transition;

  .checkbox:checked + & {
    border-color: $accentColor;
    background-color: $accentColor;
  }
}

.checkbox__link {
  display: inline;
  color: $accentColor;
}
