.hero {
  max-width: 1600px;

  @include push-auto;

  background-color: #2f303a;
  background-position: center;
  background-size: cover;
  background-image: radial-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img_s.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: radial-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_s@2x.jpg);
  }

  @media screen and (min-width: calc($mobileBP + 1px)) {
    background-image: radial-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_m.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: radial-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_m@2x.jpg);
    }
  }

  @media screen and (min-width: calc($tabletBP + 1px)) {
    background-image: radial-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_l.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: radial-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_l@2x.jpg);
    }
  }

  @media screen and (min-width: $desktopBP) {
    height: 600px;
  }

  &__container {
    padding: 118px 0px;
    @include flex(column, false, center);

    @media screen and (min-width: $desktopBP) {
      padding: 200px 0px;
    }
  }

  &__title {
    margin-bottom: 30px;
    @include font-settings(26px, $primaryWhiteColor, 900, 1.62, 0.06em);
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: calc($desktopBP - 1px)) {
      max-width: 360px;
    }

    @media screen and (min-width: $desktopBP) {
      width: 696px;

      @include font-settings(44px, $primaryWhiteColor, 900, 1.36, 0.06em);
    }
  }
}
